@import "../../../public/assets/css/bootstrap.min.css";
@import "../../../public/assets/css/style.css";


.coin_details p{
    text-transform: capitalize;
}

.coin_details{
    .row{
        border-bottom: 1px solid white !important;
    }
}

.banner {
    h1{
        color: #fff;
        font-size: 60px;
        text-transform: uppercase !important;
        font-weight: bold;
    }
}


.wpb_wrapper {
    padding-top: 18px;
    p {
        padding-bottom: 8px;
    }    
}

.vc_custom_heading{
    padding-top: 20px;
}
